body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    background: linear-gradient(green, gold );
    min-height: 100vh;  
}

.body h1 {
    text-align: center;
    color: #000000;
    margin: 20px;
    padding: 20px;
}

.feedbackform {
    margin: 20px;
    padding: 20px;
    
}

.personalinfofieldset {
    margin: 40px;
    display:flex;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;
}

.personalinfo {
    margin-bottom: 15px;
}

.name {
    
    margin: 20px;
}

.email {
    color: #000000;
    margin: 20px;
}

.nameinput, .emailinput {
    width: 1000px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-family: Arial, sans-serif;
}

.feedbacksection {
    margin: 40px;
    display:flex;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;

}

.feedbackinput {
    width: 1000px;
    height: 200px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    resize: vertical;
    font-family: Arial, sans-serif;
    font-size: medium;
}

.submitsection {
    margin: 20px;
    padding: 20px;
}

.submitbutton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

